---
import "../components/YouTube.css"
import YouTube from '../components/YouTube.astro'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>YouTube Component</title>
</head>

<body>
	<h1>
		YouTube: Alien by Lee Suhyun
	</h1>
	<nav>
		<ul>
			<li><a href="/">Keynote by Google</a></li>
			<li><a href="/alien">Alien by Lee Suhyun</a></li>
			<li><a href="/clementine">Clementine by Washington</a></li>
		</ul>
	</nav>
	<YouTube v="GywDFkY3z-c" alt="Alien by Lee Suhyun" />
</body>

</html>
